<header><span data-l="MusicIs">Music is</span> <a href="/#about" data-l="MyLife">my life</a>. <span data-l="EnjoyIt">Enjoy it</span>!</header>
<hr class="separator">
<div id="audio-player-box">
    <header>
        <ul id="tracks-options">
            <li>
                <label>
                    <input id="tracks-play_all" type="checkbox" data-l="PlayAll">Play all
                </label>
            </li>
            <!-- <li>
            <label>
                <input id="tracks-random" type="checkbox">Random
            </label>
            </li> -->
            <li>
                <label>
                    <input id="tracks-loop" type="checkbox" data-l="Loop">Loop
                </label>
            </li>
        </ul>
        <p id="track-title"> 
            <span data-l="Track">Track</span>: <span id="track-name" data-l="NotChoosenYet">is not chosen yet.</span>
        </p>
    </header>
    <section id="audio-player-container-wrapper">
        <audio controls id="audio-player"></audio>
        <div id="audio-player-no-track">
        </div>
    </section>

</div>
<div id="tracks-box"></div>