<h4 class="header-lead">Some nice tracks here</h4>
<div class="pull-left no-margin-top col-sm-6" id="audio-player-box">
    <p id="track-title">Choose what you like</p>
    <audio controls id="audio-player"></audio>
    <ul id="tracks-options">
        <li>
            <label>
                <input id="tracks-play_all" type="checkbox">Play all
            </label>
        </li>
        <!-- <li>
            <label>
                <input id="tracks-random" type="checkbox">Random
            </label>
        </li>
        <li>
            <label>
                <input id="tracks-loop" type="checkbox">Loop
            </label>
        </li> -->
    </ul>
</div>
<div id="tracks-box"></div>