#tracks-box {
    clear: both;
    padding-top: 20px;
}

@media (min-width: 1024px) {
    #tracks-box {
        columns: 2;
    }
}

@media (min-width: 1200px) {
    #tracks-box {
        columns: 3;
    }
}

#track-title{
    float: left;
    margin-bottom: 30px;
    margin-top: 0;
}